<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using
		    Symfony UX #}
		{% block stylesheets %}{% endblock %}
		{% block javascripts
    %}{% endblock %}
	</head>
	<body>
		{% if is_granted("IS_AUTHENTICATED_FULLY") %}
			<a href="{{ logout_path() }}">Logout</a>
		{% else %}
			<a href="{{ path('login') }}">Login</a>
			<a href="{{ path('register') }}">Register</a>
		{% endif %}
		<header>
			<ul>
				<li><a href="{{ path('index') }}">Catalog</a></li>
				<li><a href="{{ path('category_list') }}">Categories</a></li>
				<li><a href="{{ path('cart') }}">Cart</a></li>
				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					<li><a href="{{ path('order') }}">Orders</a></li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{path('admin_order')}}">Admin</a></li>
				{% endif %}
			</ul>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
