{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}
	<h1>Orders</h1>
	{% for order in orders %}
		<ul>
			<li>Order #{{order.id}}</li>
			<li>Order date:
				{{order.createdAt|date('d/m/Y H:m:s')}}</li>
			<li>Order status:
				{{order.status}}
				{% if order.getStatus == 'transit' %}
					<a href="{{path('order_delivered', {idOrder: order.id})}}">Delivered</a>
				{% endif %}
			</li>
			<li>Products:
				<ul>
					{% for productOrder in order.getProductOrders %}
						<li>{{productOrder.product.name}}</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	{% endfor %}
{% endblock %}
